# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.pio/build/project.checksum
.pio/build/nodemcu-32s/.sconsign39.dblite
.pio/build/nodemcu-32s/firmware.bin
.pio/build/nodemcu-32s/firmware.elf
.pio/build/nodemcu-32s/firmware.map
.pio/build/nodemcu-32s/idedata.json
.pio/build/nodemcu-32s/tmp0qzopwwc.tmp
.pio/build/nodemcu-32s/tmp7e0jji5i.tmp
.pio/build/nodemcu-32s/tmp8ho3jhwc.tmp
.pio/build/nodemcu-32s/tmp9t9h5jqt.tmp
.pio/build/nodemcu-32s/tmp72rwagc8.tmp
.pio/build/nodemcu-32s/tmpad3foy9j.tmp
.pio/build/nodemcu-32s/tmpedqq919l.tmp
.pio/build/nodemcu-32s/tmpf2w1royy.tmp
.pio/build/nodemcu-32s/tmpfhcciexq.tmp
.pio/build/nodemcu-32s/tmphrwwcl25.tmp
.pio/build/nodemcu-32s/tmpj1msg5ti.tmp
.pio/build/nodemcu-32s/tmpjgyu5vos.tmp
.pio/build/nodemcu-32s/tmpjhypraks.tmp
.pio/build/nodemcu-32s/tmpm0clx1a8.tmp
.pio/build/nodemcu-32s/tmpni9winya.tmp
.pio/build/nodemcu-32s/tmpso9sof2x.tmp
.pio/build/nodemcu-32s/tmptlz_pem2.tmp
.pio/build/nodemcu-32s/tmpznsrrlno.tmp
.pio/build/nodemcu-32s/unity_config/unity_config.cpp
.pio/build/nodemcu-32s/unity_config/unity_config.h
.pio/build/
.pio/libdeps/